.Widtper{
    width: 60px;
    text-align: center;
    }
    
    .centerLoader{
        text-align: center;
    }

    .mat-dialog-container{
        box-shadow: none !important;
    }
    .mat-dialog-container {
        background: transparent !important;
    }