<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/img/img-01.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
            <form class="login100-form validate-form">
                <div class="login100-form-avatar">
                    <img src="assets/img/faces/marc.jpg" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45">
                    Sales User
                </span>
                <form (submit)="loginUser($event)" style="width:100%"> 
                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username"  [(ngModel)]="email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required" >
                        <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="pass">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
                  <!-- 
                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="#" class="txt1">
                        Forgot Username / Password?
                    </a>
                </div> -->

                
<!-- <mat-card>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-input-container>
        <input matInput type="email" placeholder="Email" formControlName="email" [(ngModel)]="eMail" />
      </mat-input-container>
      <mat-input-container>
        <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="pass"  />
      </mat-input-container>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card> -->

                <div class="text-center w-full marginTop">
                    <a class="txt1" href="#">
                        FYP-II
                        <i class="fa fa-long-arrow-right"></i>						
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
